@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-family: "DynaPuff", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-style: normal;
}

body {
  font-family: inherit;
}


